<div id="<%= dom_id vehicle %>" >
  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </p>

  <p>
    <strong>Fuel type:</strong>
    <%= vehicle.fuel_type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vehicle.price %>
  </p>

</div>
