<div >
<% if vehicle.image.attached? %>
<div>
<%= image_tag vehicle.image, style: "width: 100%"%>
</div>
<% end %>
     
       <strong>Model:</strong>
       <%= vehicle.model %>
       <br>
       <strong>Color:</strong>
       <%= vehicle.color %>
       <br>
       <strong>Fuel type:</strong>
       <%= vehicle.fuel_type %>
       <br>
       <strong>Price:</strong>
       <%= vehicle.price %>
    
     
   
</div>