<div>
<strong>Model:</strong>
       <%= @vehicle.model %>
       <br>
       <strong>Color:</strong>
       <%= @vehicle.color %>
       <br>
       <strong>Fuel type:</strong>
       <%= @vehicle.fuel_type %>
       <br>
       <strong>Price:</strong>
       <%= @vehicle.price %>
<%= button_to "Proceed", orders_path(vehicle_id: @vehicle.id), method: :post %>
</div>