<p style="color: green"><%= notice %></p>

<span><h1 class="text-dark text-center ">Vehicles</h1></span>

<div id="vehicles" class="container">
   <div class="row ">
     <% @vehicles.each do |vehicle| %>
     <% if vehicle.owner_id != current_user.id %>
     <div class="card col-2 bg-success mx-2 my-2">
    

    <div >
<% if vehicle.image.attached? %>
<div>
<%= image_tag vehicle.image, style: "width: 100%; height: 150px"%>
</div>
<% end %>
     
       <strong>Model:</strong>
       <%= vehicle.model %>
       <br>
       <strong>Color:</strong>
       <%= vehicle.color %>
       <br>
       <strong>Fuel type:</strong>
       <%= vehicle.fuel_type %>
       <br>
       <strong>Price:</strong>
       <%= vehicle.price %>
    
     
   
</div>

    <hr>
    <div class="row">
    <div class="col-6">
    <%= link_to "details", vehicle, class:"text-dark", style:"text-decoration:none"%>
    </div>
    <div class="col-6">
    <%= link_to "Buy Now", "/details/#{vehicle.id}" ,  class:"text-decoration-none text-danger"%>
    </div>
    </div>
    </div>
    <% end %>
  <% end %>
   </div>
   <%= link_to 'Back', :back %>

</div>


