<!DOCTYPE html>
<html>
  <head>
    <title>Carbooking</title>
    <link rel="icon" type="image/x-icon" href="https://cardefender.ca/wp-content/uploads/2019/01/cropped-favicon-300x300.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <header class="bg-white fixed-top">
  <div class="containern">

  <ul class="nav" style="padding: 2px,3px,3px,2px">

  <li class="nav-item">
  <img src="https://t4.ftcdn.net/jpg/00/76/00/65/360_F_76006563_NEh2uRX5XSYHbHtJB0vvcGzrWvUdpIx2.jpg" alt="image" class="w-25">
  </li>

  <li class="nav-item mt-3">
    <%= link_to "Home", root_path, class:"nav-link text-dark ", style:"text-decoration:none;" %>
  </li>
  <% if current_user %>
  <li class="nav-item mt-3">
    <%= link_to "Vehicles", vehicles_path, class:"nav-link text-dark", style:"text-decoration:none;"%>
  </li>
  <% end %>

  <% if !current_user %>

  <li class="nav-item mt-3">
  <%= link_to "sign in", new_user_session_path , class:"nav-link text-dark", style:"text-decoration:none;"%>
  </li>

  <li class="nav-item mt-3">
  <%= link_to "sign up", new_user_registration_path , class:"nav-link text-dark", style:"text-decoration:none;"%>
  </li>

   <%else%>
  <li class="nav-item mt-3">
  <%= link_to "My vehicles", my_vehicles_vehicles_path, class:"nav-link text-dark", style:"text-decoration:none;" %>
  </li>

  <li class="nav-item mt-3">
  <%= link_to "Sell car", new_vehicle_path, class:"nav-link text-dark ", style:"text-decoration:none;"%>
  </li>

  <li class="nav-item mt-3">
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-dark" %>
  </li>
  
  <%end%>

</ul>
</div>
  </header>


  
  <body >
  
    <div class="bg">
    <%= yield %>
    </div>
    
  </body>
  
  
  
</html>
